<table class="bordered">


    <tbody>

    <tr ng-repeat="contact in contacts" >

        <td>
            <i class="medium mdi-social-person panel-grey"></i>
        </td>

        <td>
            <p><strong>{{ contact.name }}</strong></p>
            <p>{{ contact.phone }}</p>
        </td>

        <td>
            <a href=""><i ng-click="removeContact(contact.id)" class="medium mdi-action-highlight-remove panel-red"></i></a>
        </td>



    </tr>

    <div ng-hide="contacts.length">No contacts. Add a new one!</div>

    </tbody>

</table>

<div class="row">

    <a href="#/new" class="btn waves-effect waves-light" type="submit">Add Contact</a>

</div><!-- end row -->